#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.imgHome {
  height: 350px;
  width: 375px;
}

.post {
  border: solid;
  width: 70vw;
  margin-top: 10px;
}



.postContainer {
  display: flex;
  justify-content: center;
 
}