#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.imgHome {
  height: 350px;
  width: 375px;
}

.post {
  box-shadow: 0 0 5px grey;
  width: 70vw;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}



.postContainer {
  display: flex;
  justify-content: center;
 
}